{% extends "dusza_app/base_template.html"%}
{% load static %}
{%block title%} Szervezői oldal {%endblock%}
{%block navbar%}
<li class="nav-item">
    <a href="" class="text-decoration-none text-black nav_text">Új csapat regisztrálása</a>
</li>
<li class="nav-item">
    <form action="{% url 'logout'%}" method="post">
        {% csrf_token%}
        <button type="submit" class="btn my-0 text-black flex-end" style="font-weight: bold; font-size: 20px;">Kijelentkezés</button>
    </form>
</li>
{%endblock%}

{%block content %}
<h2 class="my-5 text-center">Programozási nyelvek</h2>
<table class="table table-dark m-auto w-75">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Programozási nyelv</th>
        <th scope="col">Műveletek</th>
    </tr>
</thead>
<tbody>
{%for language in programming_languages%}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{language.language}}</td>
        <td>
            <ul class="d-inline-flex gap-5 justify-content-center" style="list-style-type: none;">
                    <li>
                        <a href="{% url 'modify'%}?source_type=programming_language&language={{language.language}}">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </li>
            </ul>
        </td>
    </tr>
    {%endfor%}
</tbody>
</table>

<h2 class="my-5 text-center">Kategóriák</h2>
<table class="table table-dark m-5 m-auto w-75">
<thead> 
    <tr>
        <th scope="col">#</th>
        <th scope="col">Kategória</th>
        <th scope="col">Műveletek</th>
    </tr>
</thead>
<tbody>
{%for category in categories%}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{category.category}}</td>
        <td>
            <ul class="d-inline-flex gap-5 justify-content-center" style="list-style-type: none;">
                    <li>
                        <a href="{% url 'modify'%}?source_type=category&category={{category.category}}">
                            <span class="fa-solid fa-pencil"></span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="fa-solid fa-trash"></span>
                        </a>
                    </li>
            </ul>
        </td>
    </tr>
    {%endfor%}
</tbody>
</table>
<h2 class="my-5 text-center">Csapatok</h2>
<table class="table table-dark m-5 m-auto w-75">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Csapat Neve</th>
        <th scope="col">Csapattagok</th>
        <th scope="col">Évfolyam</th>
        <th scope="col">Felkészítő tanár</th>
        <th scope="col">Választott Kategória</th>
        <th scope="col">Nyelv</th>
        <th scope="col">Állapot</th>
        <th scope="col">Műveletek</th>
    </tr>
</thead>
<tbody>
{%for team in teams%}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{team.team_name}}</td>
        <td></td>
        <td></td>
        <td>{{team.mentor}}</td>
        <td>{{team.category}}</td>
        <td></td>
        <td>{{team.language}}</td>
        {{team.status}}
        <td>
            <ul class="d-inline-flex gap-5 justify-content-center" style="list-style-type: none;">
                <li>
                    <a href="{% url 'modify'%}?source_type=category&category={{category.category}}">
                        <span class="fa-solid fa-file-export"></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="fa-solid fa-check" aria-hidden="true"></span>
                    </a>
                </li> 
                <li>
                    <a href="">
                        <span class="fa-solid fa-exclamatin-circle" aria-hidden="true"></span>
                    </a>
                </li>
        </ul>
        </td>
    </tr>
    {%endfor%}
</tbody>
</table>

<h2 class="my-5 text-center">Iskolák</h2>
<table class="table table-dark m-5 m-auto w-75">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Iskola Neve</th>
        <th scope="col">Iskola Címe</th>
        <th scope="col">Kapcsolatfenntartó neve</th>
        <th scope="col">Kapcsolatfenntartó címe</th>
    </tr>
</thead>
<tbody>
{%for school in schools%}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{school.school_name}}</td>
        <td>{{school.school_address}}</td>
        <td>{{school.principal_aame}}</td>
        <td>{{school.principal_address}}</td>
    </tr>
    {%endfor%}
</tbody>
</table>
{% endblock %}