{% extends "dusza_app/base_template.html"%}


{% block navbar %}
<li class="nav-item">
    <a href="/modify/<source_type:>" class="text-decoration-none text-white">Csapat Módosítása</a>
</li>

<li class="nav-item">
    <a href="/modify" target="_blank" class="text-decoration-none text-white">Új csapat regisztrálása</a>
</li>
<li class="nav-item">
    <form action="{% url 'logout' %}" method="POST">
        <button type="submit" class="btn btn-danger">Kijelentkezés</button>
    </form>
</li>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <p>csapat</p>
    {{ teams.teamName }}
    {%for member in members%}
    <p>{{member.username}}</p>
    {%endfor%}
</div>
{% endblock %}