
<h2>Iskola módosítása</h2>

<form action="" method="post">
       <div class="control-group">
        {{form.schoolName.label}}
        {{form.schoolName}}
       </div> 
       <div class="control-group">
        {{form.schoolAddress.label}}
        {{form.schoolAddress}}
       </div>
       <div class="control-group">
        {{form.principalName.label}}
        {{form.principalName}}
       </div>
       <div class="control-group">
        {{form.principalAddress.label}}
        {{form.principalAddress}}
       </div>
       <button type="submit">Módosítás</button>
</form>